<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#profile-tab" data-toggle="tab">Your Profile</a></li>
    <li><a href="#account-tab" data-toggle="tab">Account</a></li>
    <% if current_user.publications.length > 0 %>
    <li><a href="#publications-tab" data-toggle="tab">Manage Publications</a></li>
    <% end %>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade in active" id="profile-tab">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Edit Profile</h3></div>
        <div class="panel-body">
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form' }) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group"><%= f.label :email %><br />
            <%= f.email_field :email, :autofocus => true, class:'form-control' %></div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div class="form-group">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form-group"><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, :autocomplete => "off", class: 'form-control' %></div>

            <div class="form-group"><%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, class: 'form-control' %></div>

            <div class="form-group"><%= f.label :current_password %> <i>(we need current password to confirm changes)</i><br />
            <%= f.password_field :current_password, class: 'form-control' %></div>

            <div><%= f.submit "Update Profile", class: 'btn btn-primary' %></div>
          <% end %>
         </div>
      </div>
    </div>

    <div class="tab-pane fade" id="account-tab">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Cancel Account</h3></div>
        <div class="panel-body">

          <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Create a Publication</h3></div>
        <div class="panel-body">
          <div class="well"><em>Only start a publication if you wish to receive submissions from contributors.<br />
              A credit card is required to start a new publication.</em></div>

          <%= button_to "Start New Pub", new_publication_path, class: 'btn btn-primary', method: 'get' %>
        </div>
      </div>
    </div>

    <% if current_user.publications.length > 0 %>
    <div class="tab-pane" id="publications-tab">
      <h3>Publication Management</h3>
      <ul>
      <% current_user.publications.each do |pub| %>
        <li><%= link_to pub.title, edit_publication_path(pub.id) %> | <%= link_to 'Submissions', publication_submissions_path(pub.id) %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function(){
    if (location.hash === '#account-tab') {
      $('[href=' + '#account-tab' + ']').tab('show');
    }
  });
</script>
