<%= form_for(@publication, html: { role: 'form' }) do |f| %>
  <% if @publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
      <% @publication.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label :slug %><br />
    <%= f.text_field :slug %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit "Create Publication", class: "btn btn-primary" %>
  </div>
<% end %>
